Repository meshery/meshsync, pull requests merged in 2022-10, with the labels that each got.

#148 Upgrade to Go 1.19
  .github/workflows/ci.yml
  .gitignore
  .golangci.yml
  Dockerfile
  Makefile
  go.mod
  go.sum
Labels: kind/chore, language/go

#156 [CI] Golang: k8s.io/kubectl v0.25.2
  .github/workflows/label-commenter.yml
  go.mod
  go.sum
Labels: kind/chore, language/go

#144 [database] Update KeyValues table with composite key | CU-2nqagta
  pkg/model/model.go
Labels: component/meshsync, kind/chore, kind/enhancement

#149 Wait for broker to come up before connecting via NATS
  main.go
Labels: component/meshsync

#158 Change gorm tags for postgres compatibility
  pkg/model/model.go
Labels: component/databse
