Repository meshery/meshsync, pull requests merged in 2023-11, with the labels that each got.

#258 Meshync Dynamic Configuration from Meshsync
  go.mod
  go.sum
  internal/config/crd_config.go
  internal/config/crd_config_test.go
  internal/config/default_config.go
  internal/config/types.go
  internal/pipeline/handlers.go
  main.go
Labels: component/meshsync, pr/do-not-merge

#273 #Docs Standardize Makefile
  Makefile
Labels: area/docs, component/meshsync, kind/chore

#275 [Fingerprinting] Add support to enable fingerprinting.
  pkg/model/model.go
Labels: kind/enhancement
