Repository meshery/meshsync, pull requests merged in 2025-06, with the labels that each got.

#420 laye5io/meshkit to meshery/meshkit
  .github/workflows/error-codes-updater.yml
  go.mod
  go.sum
  integration-tests/default_cluster_integration_test.go
  integration-tests/default_cluster_test_cases_test.go
  integration-tests/unmarshal_object_test.go
  internal/channels/broker.go
  internal/config/config.go
  internal/config/crd_config.go
  internal/config/error.go
  internal/output/composite.go
  internal/output/file.go
  internal/output/inmemory_deduplicator.go
  internal/output/nats.go
  internal/output/output.go
  internal/output/processor.go
  internal/pipeline/error.go
  internal/pipeline/handlers.go
  internal/pipeline/pipeline.go
  internal/pipeline/step.go
  main.go
  meshsync/error.go
  meshsync/exec.go
  meshsync/handlers.go
  meshsync/logstream.go
  meshsync/meshsync.go
  pkg/model/model_converter.go
  pkg/model/preprocessor.go
  pkg/model/process.go
  pkg/utils/utils.go
Labels: area/ci, language/go

#421 chore: update layer5io to meshery
  .github/config.yml
  .github/security-insights.yml
  .github/workflows/error-codes-updater.yml
  Makefile
  README.md
  go.mod
  go.sum
  integration-tests/unmarshal_object_test.go
  internal/config/crd_config.go
  internal/output/composite.go
  internal/output/file.go
  internal/output/inmemory_deduplicator.go
  internal/output/nats.go
  internal/output/output.go
  internal/output/processor.go
  internal/pipeline/handlers.go
  internal/pipeline/pipeline.go
  internal/pipeline/step.go
  main.go
  meshsync/discovery.go
  meshsync/error.go
  meshsync/exec.go
  meshsync/handlers.go
  meshsync/handlers_test.go
  meshsync/logstream.go
  meshsync/meshsync.go
  pkg/model/model_converter.go
Labels: area/ci, area/docs, language/go

#429 feature: meshsync as a library: stop channel
  integration-tests/k8s_cluster_meshsync_as_library_integration_test.go
  meshsync/exec.go
  meshsync/handlers.go
  pkg/lib/meshsync/meshsync.go
Labels: language/go

#430 feature: meshsync as a library: provide input channels
  integration-tests/integration_test.go
  integration-tests/meshsync_as_binary_with_k8s_cluster_integration_test.go
  integration-tests/meshsync_as_binary_with_k8s_cluster_test_cases_mode_a_broker_test.go
  integration-tests/meshsync_as_binary_with_k8s_cluster_test_cases_mode_b_file_test.go
  integration-tests/meshsync_as_library_with_k8s_cluster_custom_broker_integration_test.go
  integration-tests/meshsync_as_library_with_k8s_cluster_custom_broker_test_cases_test.go
  internal/config/types.go
  internal/output/broker.go
  internal/output/channel.go
  main.go
  pkg/lib/meshsync/meshsync.go
  pkg/lib/meshsync/options.go
  pkg/lib/tmp_meshkit/broker/channel/channel.go
  pkg/lib/tmp_meshkit/broker/channel/error.go
  pkg/lib/tmp_meshkit/broker/channel/options.go
Labels: language/go
