Repository meshery/meshsync, pull requests merged in 2025-05, with the labels that each got.

#386 feature: 355: snapshot with local file: run meshery without nats, output results into local file
  .github/workflows/integration-tests-ci.yml
  .gitignore
  Makefile
  go.mod
  integration-tests/default_cluster_integration_test.go
  integration-tests/default_cluster_test_cases_test.go
  integration-tests/infrastructure/docker-compose.yaml
  integration-tests/infrastructure/test-deployment.yaml
  integration-tests/unmarshal_object_test.go
  internal/config/config.go
  internal/config/config_local.go
  internal/config/crd_config.go
  internal/config/types.go
  internal/file/file.go
  internal/file/writer.go
  internal/file/yaml_writer.go
  internal/output/composite.go
  internal/output/file.go
  internal/output/inmemory_deduplicator.go
  internal/output/nats.go
  internal/output/output.go
  internal/output/processor.go
  internal/pipeline/error.go
  internal/pipeline/handlers.go
  internal/pipeline/pipeline.go
  internal/pipeline/step.go
  main.go
  meshsync/discovery.go
  meshsync/meshsync.go
Labels: area/ci, language/go

#409 feature: 355: snapshot with local file: add README description on new feature
  README.md
  main.go
Labels: area/docs

#412 Update release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: area/ci

#413 Update README.md
  README.md
Labels: area/docs
